{% extends "base.html" %}

{% block content %}   
<h1 class="text-center pt-5">English to Arabic</h1>
<h5 class="text-center pt-2 pb-5">Using Goggle Translate</h5>


<div class="container ">
    <div class="row d-flex justify-content-center">
        <div class="col-6 ">
            <form action="/" method="POST" c>
                <div class="form-group mt-5 ">
                <!-- <label>English</label> -->
                <input type="text" class="form-control mt-3" id="englishInput" name="englishInput" placeholder="Enter English text">
                </div>
                <button type="submit" class="btn btn-secondary mt-4 ">Submit</button>
            </form >
        </div>
    </div>
    <br><hr class="m-5">

    <h1 class="mt-5 text-center">English:
        {% if sentence %}
        {{ sentence }}
        {% endif %}
    </h1>
    <h1 class="mt-5 text-center">Arabic:
        {% if translation_ar %}
        {{ translation_ar }}
        {% endif %}
    </h1>
        
        
        
      </div>
    </div>
  </div>


  {% endblock %}
